$color-red: #FF4742;
$color-white: #F2F2F2;
$color-light-blue: #b2d3ff;


.uncompleted,
.completed {
    display: flex;
    flex: 1;
    margin: 20px 0;
    

}
.puncompleted,
.pcompleted {
    display: flex;
    flex: 1;
    flex: auto;
    padding-right: 20px;
}
.pcompleted {
    text-decoration: line-through;
}

.uncompleted {
    background: $color-white;
}

.completed {
    background: $color-light-blue;
}

.button {
    background: $color-red;
    border: 1px solid $color-red;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
  }

.input {
    margin: 0 8px 0 8px;
}